* html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.fcontainer {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(../img/wallpaper\ kuscing.jpg);
  background-size: cover;
}

.wrapper {
  display: flex;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
  font-size: 13px;
  padding: 13px;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.562);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
}
.brand {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  padding: 5px;
  align-items: center;
}
.brand > div > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  line-height: 40px;
}

.brand > div > img:hover {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  transition: all 0.3s ease-in-out;
}
.wrapper2 {
  display: flex;
  align-items: center;
}
.wrapper2 .txt {
  color: #ffff;
  font-size: 40px;
  font-weight: 400;
}
.wrapper2 .run-text {
  margin-left: -40px;
  height: 90px;
  overflow: hidden;
}
.run-text li {
  list-style: none;
  font-size: 40px;
  position: relative;
  top: 0;
  animation: slide 8s steps(4) infinite;
}
.run-text li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.run-text li span::after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}
.menu-id2 {
  width: 45px;
  cursor: pointer;
}
.menu-id2:hover {
  will-change: url(../img-icon/grid\ red.png);
  width: 50px;
  transition: 0.3s;
}
h1 {
  position: relative;
  left: 15px;
  color: azure;
  font-weight: 700;
  font-size: 2rem;
}
span {
  color: rgb(0, 204, 51);
  font-weight: 700;
  padding-left: 4px;
}

.navigation {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.navigation > li {
  list-style-type: none;
  padding: 10px;
  font-weight: 600;
}

.navigation > li > a {
  color: azure;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation > li > a:hover {
  color: rgb(0, 204, 51);
  border: 3px solid #5cff77;
  padding: 13px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  transition: 0.3s;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -350px;
  width: 350px;
  background-color: rgba(78, 17, 17, 0.9);
  transition: 0.3s;
  z-index: 1;
}
.sidebar ul li a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  z-index: 20px;
}
.sidebar ul li {
  padding: 24px;
  transition: 0.3s;
  transition-property: background-color;
  list-style: none;
}
.sidebar ul li:hover {
  background-color: #f42a06;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check {
  display: none;
}
.btn {
  background-color: rgb(0, 204, 51);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 30px;
  transition: transform 0.3s;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.2);
  background-color: #f9004d;
}
.btn a {
  text-decoration: none;
  color: white;
}

.btnct {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.3s;
  cursor: pointer;
}
.btnct:hover {
  transform: scale(1.2);
  background-color: #fa78a1;
}
.btnct a {
  text-decoration: none;
  color: white;
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  letter-spacing: 4px;
}
.content h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 65px;
}
.content h1 span {
  color: #f9004d;
}
.name2 {
  display: none;
}
.content h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}
.content h4 {
  background-color: rgba(0, 0, 0, 0.562);
  width: 300px;
  padding: 10px;
  border-radius: 50px;
  color: rgb(0, 204, 51);
  letter-spacing: 2px;
  font-size: 29px;
}
.mobile-menu {
  float: right;
  display: none;
  padding: 18px;
}
.mobile-menu:hover {
  cursor: pointer;
}
.about {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 0px;
  background-image: url(../img/anonymus.jpg);
  background-position: center;
}
.about img {
  height: 340px;
  width: 340px;
  border-radius: 200px;
  position: relative;
  margin: 100px;
}
.img-about2 {
  display: none;
}
.about-text {
  width: 500px;
  position: relative;
  margin-right: 270px;
}
.about-text h2 {
  color: white;
  font-size: 75px;
}
.about-text span {
  color: #f9004d;
}

.about-text h5 {
  color: crimson;
  letter-spacing: 2px;
  font-size: 26px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 50px;
}
.contact {
  background: #101010;
  width: 100%;
  padding: 100px 0px;
}
.title {
  color: white;
  font-size: 75px;
  width: auto;
  margin: 30px auto;
  text-align: center;
}
.title span {
  color: #f9004d;
}
.box {
  display: flex;
}
.card {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}
h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}
.pra p {
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}
.card .button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
.social {
  color: #f9004d;
}
footer {
  background-color: #212326;
  padding: 40px;
  text-align: center;
}
footer small {
  color: crimson;
}
footer small span {
  color: white;
}
html {
  scroll-behavior: smooth;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
@media (max-width: 768px) {
  .mobile-menu {
    display: block;
    margin: 15px;
  }
  .menu-id {
    position: relative;
    left: 0px;
  }
  .navigation {
    display: none;
  }
  .wrapper {
    padding: 0;
  }
  .brand h1 {
    font-size: 25px;
    letter-spacing: -1px;
  }
  .content h1 {
    font-size: 35px;
  }
  .name1 {
    display: none;
  }
  .name2 {
    display: flex;
  }
  .content h4 {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.562);
    width: 220px;
    padding: 19px;
  }
  .wrapper2 {
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 30px;
    width: 350px;
    letter-spacing: 1px;
  }
  .wrapper2 .txt {
    font-size: 30px;
    position: relative;
    margin-left: 60px;
  }
  .wrapper2 .run-text {
    margin-left: -40px;
  }
  .wrapper2 ul {
    display: flexbox;
  }
  .wrapper2 ul li {
    font-size: 30px;
  }
  .fcontainer {
    background-image: url(../img/wallpaper\ kuscing2.jpg);
    transition: 0.5s;
  }
  .about {
    height: 600px;
    display: inline-flex;
    background-image: url(../img/anonymus2.jpg);
  }
  .about .img-about {
    display: none;
  }
  .about-text .img-about2 {
    display: flex;
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
  }
  .about-text {
    margin-right: 5px;
    margin: 15px;
  }
  .about-text h2 {
    color: white;
    font-size: 35px;
    position: relative;
    text-align: center;
  }
  .about-text span {
    color: #f9004d;
  }
  .about-text h5 {
    color: crimson;
    letter-spacing: 1px;
    font-size: 25px;
    margin: 3 5px;
    text-transform: capitalize;
  }
  .about-text p {
    line-height: 18px;
    font-size: 15px;
    margin: 30px;
  }
  .title h2 {
    margin: 25px;
    display: list-item;
    font-size: small;
  }
  .contact .title {
    font-size: 45px;
  }
  .contact .box {
    display: inline;
    position: static;
  }
  .card {
    height: 265px;
    width: 255px;
    padding: 25px 25px;
    margin: auto;
    margin-block: 10px;
  }
  h5 {
    margin-left: 30px;
    font-size: 20px;
  }
  .btnct {
    transition-delay: 1ms;
    margin-left: 50px;
    width: 100px;
  }
}
